script(type="text/javascript").

	window.addEventListener('message', function (evt) {
		evt.source.postMessage(document.getElementById('body').textContent, "*");
		window.close();
	}, false);

#body=code
