script(type="text/javascript").

	document.addEventListener('message', function (evt) {
		evt.data.postMessage(document.getElementById('body').textContent, "*");
		window.close();
	}, false);

#body=code
